.page.theme_dark {
  --black-color: #000028;
  --title-color: #FF0070;
  --red-color: #FF0070;
  --paragraph-color: #F1B2CE;
  --purple-color: #DB00FF;
  --button-color: #FF0070;
  --display-rec-decor: block;
  --background-image: url(../images/cover-image-dark.png)
}

@media (prefers-color-scheme: dark) {
  :root {
    --black-color: #000028;
    --title-color: #FF0070;
    --red-color: #FF0070;
    --paragraph-color: #F1B2CE;
    --purple-color: #DB00FF;
    --button-color: #FF0070;
    --display-rec-decor: block;
    --background-image: url(../images/cover-image-dark.png)
  }
}