.page.theme_light {
  --black-color: #353430;
  --red-color: #ff8dcb;
  --purple-color: #FFC2E6;
  --title-color: #353430;
  --paragraph-color: #353430;
  --button-color: #353430;
  --display-rec-decor: none;
  --background-image: url(../images/cover-image-light.png)
}

@media (prefers-color-scheme: light) {
  :root {
    --black-color: #353430;
    --red-color: #ff8dcb;
    --purple-color: #FFC2E6;
    --title-color: #353430;
    --paragraph-color: #353430;
    --button-color: #353430;
    --display-rec-decor: none;
    --background-image: url(../images/cover-image-light.png)
  }
}