.page {
  padding: 10px;
  background-color: var(--bg-color);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}
/*  ----------------- header ----------------- */

.header {
  height: calc(100vh - 20px);
  position: relative;
  display: grid;
  grid-template-rows: repeat(5, min-content);
  align-content: space-between;
  padding-block-end: 10px;
  position: relative;
}

.header__theme-menu {
  grid-row: 2 / 3;
  justify-self: end;
}

.header__title {
  display: block;
  grid-row: 3 / 4;
  justify-self: start;
  color: #DB00FF;
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}

.header__text {
  grid-row: 5 / 6;
  justify-self: end;
  max-width: 490px;
  background-color: var(--accent-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  padding: 4px 14px;
  color: var(--accent-color);
  text-transform: lowercase;
  text-align: center;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.decorated-zone::before {
  grid-row: 1 / 2;
  justify-self: end;
  content: '';
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  grid-row: 6 / 7;
  content: '';
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.header__record-tag::before {
  position: absolute;
  content: 'REC';
  top: 2.5px;
  right: 0;
  padding-right: 30px;
  color: var(--accent-color);
  line-height: 25px; /* 138.889% */
}

.header__record-tag::after {
  display: block;
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

/* ----------------- main section ----------------- */

.content {
  display: flex;
  flex-direction: column;
  gap: 50px; /* 80px for >756vw*/
  padding-top: 40px;
}

.content__block {
  display: grid;
  gap: 20px;
}

.content__sub-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__title {
  font-size: 18px;
  color: var(--accent-color);
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.content__subtitle {
  font-size: 18px;
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.content__subtitle_special {
  margin-block-end: 20px;
}


.content__subtitle_light {
  font-weight: 400  ;
}

.content__paragraph {
  font-size: 18px;
  color: var(--font-color-light);
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}


.content__paragraph_link {
  text-shadow: 1px 1px 0px var(--accent-color);
  text-decoration: none;
}

.content__paragraph_underline {
  display: inline-block; 
  border-bottom: 1px solid var(--font-color-light);
}

/* ----------------- gallery section ----------------- */

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px 0 40px;
}

.gallery__item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery__item:nth-child(1) {
  grid-area: title;
}

.gallery__item:nth-child(2) {
  grid-area: sunset;
}

.gallery__item:nth-child(3) {
  grid-area: icecream;
}

.gallery__item:nth-child(4) {
  grid-area: tape;
}

.gallery__item:nth-child(5) {
  grid-area: books;
}

.gallery__item:nth-child(6) {
  grid-area: street;
}

/* ----------------- footer ----------------- */

.footer {
  height: calc(100vh - 20px);
  padding-block-start: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.footer__title {
  align-self: center;
  justify-self: center;
  color: #DB00FF;
  text-shadow: 2px 2px 0px var(--accent-color);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}

/* ----------------- media queries -----------------*/

@media (min-width: 768px) {
  .page {
    padding: 20px;
  }

  .header {
    padding-block-end: 20px;
  }

  .content {
    padding-top: 60px;
  }

  .content__block:nth-child(odd) {
    grid-template-columns: 236px auto;
  }

  .content__block:nth-child(odd) 
  .content__sub-block {
    grid-column: 2 / 3; 
  }

  .content__block:nth-child(even)
  .content__title {
    width: min-content;
  }

  .gallery {
    padding: 80px 0 60px;
  }

  .gallery__item img {
    height: 100%;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas: 
      'title title title'
      'sunset sunset icecream'
      'tape books icecream'
      'tape street street';
  }

  .footer {
    height: calc(100vh - 40px);
  }
}

@media (min-width: 1024px) {
  .header__title {
    margin-inline-start: -20px;
  }

  .header__theme-menu {
    position: absolute;
    top: -88px;
    left: 50%;
    transform: translateX(-50%);
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content__block:nth-child(odd) {
    grid-template-columns: 315px auto;
  }

  .content__block:nth-child(even) {
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 1fr);
  }

  .content__block:nth-child(even) 
  .content__sub-block {
    grid-row: 2 / 3; 
  }

  .content__block:nth-child(even)
  .content__title {
    width: fit-content;
  }
}