:root {
  --black-color: #000028;
  --red-color: #FF8DCB;
  --purple-color: #DB00FF;
  --title-color: #FF0070;
  --paragraph-color: #F1B2CE;
  --button-color: #FF0070;
  --display-rec-decor: block;
  --background-image: url(../images/cover-image-dark.png)
}